{% extends "body.html" %}
{% load staticfiles %}

{% block head_title %}{{ page_name }} | {% endblock %}

{% block content %}

<div class="container" role="main">
	<div class="panel panel-default">
		<form method="POST" class="panel-body validate"> {% csrf_token %}
			{{ form.as_p }}
			<input type="submit" class='btn btn-primary' value="{{ button_value }}">
		</form>
	</div>
</div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/register_form.js' %}"></script>
{% endblock %}