{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ user.first_name }}</h1>
			<!-- <p>{{ project.description }}</p>
			<ul>
				<li>Sponsored by {{ project.company }}</li>
				<li>Developed in {{ project.language }}</li>
				<li>Years of Experience Needed: {{ project.experience }}</li>
			</ul> -->
			{% for bookmark in bookmarks.all %}
				<p>{{ bookmark }}</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}