{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ user.first_name }} {{ user.last_name }}: {{ user.email }}</h1>
			<p>Bookmarks</p>
			<!-- <p>{{ project.description }}</p>
			<ul>
				<li>Sponsored by {{ project.company }}</li>
				<li>Developed in {{ project.language }}</li>
				<li>Years of Experience Needed: {{ project.experience }}</li>
			</ul> -->
			{% for bookmark in bookmarks.all %}
				<p><a href="/project?id={{ bookmark.project_id }}">{{ bookmark }}</a></p>
			{% endfor %}
		</div>
		<a href="/update">click here to update profile</a>
	</div>

{% endblock %}